{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>GoS Sign-In - GOS Attendance</title>

    <link rel="stylesheet" href="{% static 'attendance/bootstrap.min.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'attendance/navbar.js' %}"></script>
    <link rel="stylesheet" href="{% static 'attendance/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'attendance/attendance.css' %}">
    <script>
setTimeout(function() {document.getElementById('status_msg').innerHTML='';}, 5000);
    </script>
</head>
<body id="gos">

{% include "attendance/shared/navbar.html" %}
<div class="container">

<div class="row text-center row-cols-6">
    <div class="col">&nbsp;</div>
    <div class="col-8">
        <img src="{% static 'gos_logo3.png' %}" class="img-fluid mx-auto d-block" alt="GOS Logo"/>
    </div>
    <div class="col">&nbsp;</div>
</div>

    <div class="row">
        <div class="col-md-12">
            <h3>SCRA visitors: Click <a href="{% url 'scra_signin' %}">here</a> to sign in.</h3>
            <p>&nbsp;</p>
        </div>
    </div>

    <form class="row g-3" action="{% url 'gos_log_attendance_rfid' %}" method="post">
{% csrf_token %}
    <div class="col-12">
        <legend><h1>GoS - Tap your RFID keyfob</h1></legend>
    </div>
    <div class="col-md-2">
        <label for="rfid" class="form-label">RFID</label>
    </div>
    <div class="col-md-8">
        <input type="number" id="rfid" name="rfid" class="form-control" autofocus="autofocus" autocomplete="off" aria-autocomplete="none">
    </div>
    <div class="col-md-2">
        <input type="submit" value="Sign In" class="btn btn-primary">
    </div>
</form>

<br><br>

<form class="row g-3" action="{% url 'gos_log_attendance_name' %}" method="post">
{% csrf_token %}
    <div class="col-12">
        <legend><h1>GoS - Sign In with Full Name</h1></legend>
    </div>
    <div class="col-md-2">
        <label for="full_name" class="form-label">Full Name</label>
    </div>
    <div class="col-md-8">
        <input id="full_name" name="full_name" class="form-control" autocomplete="off" aria-autocomplete="none">
    </div>
    <div class="col-md-2">
        <input type="submit" value="Sign In" class="btn btn-primary">
    </div>

</form>

<div class="row">
    <div class="col-md-12">
        <div id="status_msg" style="{%  if request.session.good_result %}color: green {%  else %} color: red {% endif %}">{{ request.session.result_msg }}</div>
    </div>
</div>

</div><!-- container //  -->

</body>
</html>