{% load static %}

<!DOCTYPE html>
<html lang='en'>
<link rel="stylesheet" href="{% static 'attendance/bootstrap.min.css' %}">
  <head>
    <meta charset='utf-8' />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>

{% include "attendance/partial/navbar.html" %}

<h1>GOS Overview</h1>

<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Num Meetings</th>
        <th>Hours Logged</th>
      </tr>
    </thead>
    <tbody>
{% for student in object_list %}
    <tr>
        <td><a href="{% url 'gos_student_detail' student.rfid %}">{{ student }}</a></td>
        <td>{{ student.num_meetings }}</td>
        <td>{{ student.num_hours|floatformat:2 }}</td>
    </tr>
{%  endfor %}
    </tbody>
</table>

</body>
</html>