{% load static %}

<!DOCTYPE html>
<html lang='en'>
<head>
    <title>GOS Attendance</title>

    <link rel="stylesheet" href="{% static 'attendance/bootstrap.min.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'attendance/navbar.js' %}"></script>
    <link rel="stylesheet" href="{% static 'attendance/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'attendance/attendance.css' %}">
{% include "attendance/shared/calendar_script.html" with events=calendar_events %}
</head>
<body>

<div class="container">

{% include "attendance/shared/navbar.html" %}

Welcome to the Girls of Steel attendance tracker. You can sign in <a href="{% url 'gos_signin' %}">here</a> or look at stats <a href="{% url 'gos_student_summary' %}">here</a>

<div id='calendar'></div>

</div><!-- container //  -->

</body>
</html>