<nav class="navbar navbar-expand-sm bg-light">
 <div class="container-fluid">
 	 <a class="navbar-brand" href="{% url 'index' %}">Attendance</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="main_nav">

{#https://bootstrap-menu.com/demos/multilevel.html#}
	<ul class="navbar-nav">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  GOS  </a>
		    <ul class="dropdown-menu">
			  <li><a class="dropdown-item" href="{% url 'gos_signin' %}"> Sign In </a></li>
			  <li><a class="dropdown-item" href="{% url 'gos_student_summary' %}"> Overview </a></li>
			  <li><a class="dropdown-item" href="{% url 'gos_preseason_crews' %}"> Preseason Crews &raquo; </a>
			  	 <ul class="submenu dropdown-menu">
                     {%  for crew in NAVBAR_GOS_CREWS %}
				    <li><a class="dropdown-item" href="{% url 'gos_preseason_crews_detail' crew.0  %}">{{ crew.0 }}</a></li>
                     {%  endfor %}
				 </ul>
              </li>
			  <li><a class="dropdown-item" href="{% url 'gos_program_list' %}"> Programs &raquo; </a>
			  	 <ul class="submenu dropdown-menu">
                     {%  for program in NAVBAR_GOS_PROGRAMS %}
				    <li><a class="dropdown-item" href="{% url 'gos_program_detail' program.0  %}">{{ program.0 }}</a></li>
                     {%  endfor %}
				 </ul>
			  </li>
			  <li><a class="dropdown-item" href="{% url 'gos_subteam_list' %}"> Subteams &raquo; </a>
			  	 <ul class="submenu dropdown-menu">
                     {% for subteam in NAVBAR_GOS_SUBTEAMS %}
				    <li><a class="dropdown-item" href="{% url 'gos_subteam_detail' subteam.0 %}">{{ subteam.0 }}</a></li>
                     {% endfor %}
				 </ul>
			  </li>
			  <li><a class="dropdown-item" href="{% url 'gos_grade_year_list' %}"> Grades &raquo; </a>
			  	 <ul class="submenu dropdown-menu">
                     {% for grade in NAVBAR_GOS_GRADES %}
				    <li><a class="dropdown-item" href="{% url 'gos_grade_year_detail' grade.0 %}">{{ grade.0 }}</a></li>
                     {% endfor %}
				 </ul>
			  </li>
		    </ul>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  SCRA Visitors  </a>
		    <ul class="dropdown-menu">
			  <li><a class="dropdown-item" href="{% url 'scra_signin' %}"> Sign In </a></li>
			  <li><a class="dropdown-item" href="{% url 'scra_visitor_list' %}"> View Attendance </a></li>
		    </ul>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Field Builders  </a>
		    <ul class="dropdown-menu">
			  <li><a class="dropdown-item" href="{% url 'field_builders_signin' %}"> Sign In </a></li>
			  <li><a class="dropdown-item" href="{% url 'field_builders_list' %}"> View Attendance </a></li>
		    </ul>
		</li>
      <li class="nav-item"><a class="nav-link" href="{% url 'active_manifest' %}">Logged In</a></li>

	</ul>


  </div> <!-- navbar-collapse.// -->
 </div> <!-- container-fluid.// -->
</nav>