body {
    background-color: dimgray;
}

body#gos {
    background-color: #bad3fe;
    color: black;
}


body#scra {
    background-color: gold;
    color: black;
}


body#field {
    background-color: darkblue;
}
