
{%  if students|length == 0 %}
<h3>No students available</h3>
{%  else %}

<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Grade</th>
        <th>Program</th>
        <th>Preseason Crew</th>
        <th>Subteam</th>
        <th>Num Meetings</th>
        <th>Hours Logged</th>
      </tr>
    </thead>
    <tbody>
{% for student in students %}
    <tr>
        <td><a href="{% url 'gos_student_detail' student.rfid %}">{{ student.full_name }}</a></td>
        <td><a href="{% url 'gos_grade_year_detail' student.grade %}">{{ student.grade }}</a></td>
        <td><a href="{% url 'gos_program_detail' student.gos_program %}">{{ student.gos_program }}</a></td>
        <td><a href="{% url 'gos_preseason_crews_detail' student.preseason_crew  %}">{{ student.preseason_crew }}</a></td>
        <td><a href="{% url 'gos_subteam_detail' student.subteam %}">{{ student.subteam }}</a></td>
        <td>{{ student.num_meetings }}</td>
        <td>{{ student.num_hours|floatformat:2 }}</td>
    </tr>
{%  endfor %}
    </tbody>
</table>

{% endif %}