
{%  if students|length == 0 %}
<h3>No students available</h3>
{%  else %}

<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Grade</th>
        <th>Program</th>
        <th>Preseason Crew</th>
        <th>Subteam</th>
        <th>Num Meetings</th>
        <th>Hours Logged</th>
      </tr>
    </thead>
    <tbody>
{% for student in students %}
    <tr>
        <td><a href="{% url 'gos_student_detail' student.rfid %}">{{ student.full_name }}</a></td>
        <td>{{ student.grade }}</td>
        <td>{{ student.gos_program }}</td>
        <td>{{ student.preseason_crew }}</td>
        <td>{{ student.subteam }}</td>
        <td>{{ student.num_meetings }}</td>
        <td>{{ student.num_hours|floatformat:2 }}</td>
    </tr>
{%  endfor %}
    </tbody>
</table>

{% endif %}